name: Documentation Build

on:
  pull_request:
  push:
    tags:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs_build:
    runs-on: ubuntu-22.04

    env:
      PYVISTA_OFF_SCREEN: True

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt

      - name: Setup headless display
        uses: pyvista/setup-headless-display-action@v2

      - name: Install tetgen
        run: pip install .
  
      - name: Build Documentation
        run: |
          pip install -r requirements_docs.txt
          make -C doc html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.4.1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: doc/_build/html
          CLEAN: true
